.env-icon {
  display: block;
  border-radius: 50%;
  max-width: 100%;
  width: 1.4em;
  padding: 5px;
  box-sizing: border-box;
  background: center / contain no-repeat;
  background-origin: content-box;

  &.icon-development,
  .icon-latest {
    background-color: #669cce;
    background-image: url('./images/settings-white.svg');
  }

  &.icon-release {
    padding: 3px;
    background-color: #5db825;
    background-image: url('./images/beat-white.svg');
  }

  &.icon-archive {
    padding: 5px;
    background-color: #777;
    background-image: url('./images/state-archive.svg');
  }

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}