.file-input {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;

  &:hover {
    .input-action {
      opacity: 1;
    }
  }

  .input-value {
    flex: 1 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
  }

  .input-action {
    flex: 0 0 auto;
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 2em;
  }

  .file-input-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: inherit;

    input {
      visibility: hidden;
    }
  }
}