.dropdown {
  .dropdown-value-box {
    display: flex;
    cursor: pointer;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 4px;

    .dropdown-placeholder {
      font-size: 18px;
      font-weight: 200;
      flex: 1 1 auto;
    }

    &.has-list {
      .dropdown-value-input {
        cursor: pointer;
      }
    }

    .dropdown-value {
      font-size: 28px;
      flex: 1 1 auto;

      .version-label {
        font-weight: 200;
        margin-right: 10px;
      }
    }

    .drop-icon {
      align-items: center;
      align-self: stretch;
      display: flex;
      flex: 0 0 auto;
      justify-content: center;
      opacity: 0.5;
      width: 38px;
      border-left: solid 1px #ddd;
  
      &::after {
        content: '';
        border-bottom: 1px solid;
        border-left: 1px solid;
        flex: 0 0 auto;
        width: 10px;
        height: 10px;
        margin-top: -4px;
        transform: rotate(-45deg);
      }
    }
  }
}

.dropdown-menu-item {
  padding: 6px 15px 6px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #f5ffff;
  }

  .menu-item-check {
    width: 24px;

    &.checked {
      &::after {
        content: '';
        display: block;
        width: 14px;
        height: 8px;
        border-left: solid 1px green;
        border-bottom: solid 1px green;
        transform: rotate(-45deg);
        margin-top: -4px;
      }
    }
  }

  .menu-item-label {
    white-space: nowrap;
  }
}