.service-dropdown {
  .selected-service {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    padding: 0 25px 0 0;
    position: relative;

    .drop-block {
      display: flex;
      align-items: center;

      &::after {
        content: '';
        display: inline-block;
        box-sizing: border-box;
        width: 8px;
        height: 8px;
        transform: rotateZ(-45deg);
        border-left: solid 1px;
        border-bottom: solid 1px;
        margin-left: 10px;
        opacity: 0.5;
      }
    }

    .place-holder {
      font-size: 32px;
      font-weight: 200;
      cursor: pointer;
    }

    .score-col {
      position: relative;
      width: 64px;
      height: 64px;
      flex: 0 0 auto;
      margin-right: 15px;

      .info-text {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 1;
      }

      .change {
        font-size: 10px;
        color: #92c573;
      }

      .value {
        font-size: 22px;
      }
    }

    .info-col {
      .group-part {
        display: flex;
        align-items: center;

        .edit-group-button .button-primary {
          font-size: 10px;
        }
      }

      .service-title {
        font-size: 32px;
        font-weight: 200;
        cursor: pointer;
        line-height: 1.2;
      }

      .last-updated {
        display: flex;
        color: rgba(255, 255, 255, 0.7);
        font-size: 12px;
        margin-top: 3px;

        &.hidden {
          visibility: hidden;
        }

        .last-updated-title {
          margin-right: 5px;
        }

        &::before {
          content: '';
          flex: 0 0 auto;
          width: 14px;
          height: 14px;
          margin: 1px 4px 0 0;
          background: center / contain no-repeat url('../../../../../assets/images/refresh-white.svg');
        }
      }
    }
  }
}