$color-dark-panel-font: #fff;
$color-dark-panel: #333;
$color-dark-primary: #111;
$color-dark-button: rgba(255, 255, 255, 0.1);
$color-dark-button-light: rgba(255, 255, 255, 0.05);
$color-dark-button-active: rgba(255, 255, 255, 0.3);

*,
*::before,
*::after {
  box-sizing: border-box;
}

.panel-block {
  background-color: $color-dark-panel;
  color: $color-dark-panel-font;
}

.block-item {
  background-color: $color-dark-button;
}

.block-item-light {
  background-color: $color-dark-button-light;
}

.light-bg {
  background-color: #dee9f1;
}

.blue-block {
  color: #fff;
  background-color: #0076d5;

  &:hover {
    background-color: #066abc;
  }
}

.page-header-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .button-primary {
    margin-right: 70px;
  }
}

.button-primary,
.button-rc {
  display: inline-flex;
  box-sizing: border-box;
  background-color: $color-dark-button;
  color: $color-dark-panel-font;
  border: none;
  outline: none;
  align-items: center;
  justify-content: center;
  padding: 0.7em 1em;
  border-radius: 28px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 300;
  transition: background-color 0.2s;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &.active {
    background-color: $color-dark-button-active;
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    background-color: $color-dark-button;
    opacity: 0.75;
  }
}

.button-rc {
  border-radius: 5em;
}

.button-primary-light {
  background-color: $color-dark-button-light;

  &:hover,
  .active {
    background-color: rgba(255, 255, 255, 0.15);
  }

  &.active,
  .disabled {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.link {
  text-decoration: none;
  color: #268dad;
}

.mul-line-2,
.mul-line-3,
.mul-line-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  max-height: 2.8em;
}

.mul-line-3 {
  -webkit-line-clamp: 3;
  line-height: 1.4;
  max-height: 4.2em;
}

.mul-line-4 {
  -webkit-line-clamp: 4;
  line-height: 1.4;
  max-height: 5.6em;
}